<a href="https://colab.research.google.com/github/dmp40/DataAnalitikCurse-23/blob/storks/%D0%93%D1%80%D1%83%D0%BF%D0%BF%D0%B8%D1%80%D0%BE%D0%B2%D0%BA%D0%B0_%D0%BF%D0%BE_%D0%B7%D0%BD%D0%B0%D1%87%D0%B5%D0%BD%D0%B8%D1%8F%D0%BC_%D0%BA%D0%BE%D0%BB%D0%BE%D0%BD%D0%BE%D0%BA_groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Группировка по значениям колонок — groupby

Группировка разделяет весь датасет на группы по значениям какой-либо колонки (или нескольких).

### Подгрузка датасета

![](https://i.morioh.com/201029/1ab55536.webp)

In [ ]:
!gdown --id 1LjVzFpLoB0vfB1wSuc7PxZ0VyiJFNOVS
import pandas as pd
dataset = pd.read_csv('housing_market_dataset.csv')

/usr/local/lib/python3.10/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1LjVzFpLoB0vfB1wSuc7PxZ0VyiJFNOVS
To: /content/housing_market_dataset.csv
100% 29.4M/29.4M [00:00<00:00, 38.5MB/s]

### Кейс 1. Необходимо рассчитать среднюю цену квартир на разной стадии строительства

In [ ]:
import re

def clear_price(price):
  return int(re.sub('\D', '', price))
dataset['Очищенная цена'] = dataset['Цена'].apply(clear_price)

In [ ]:
dataset.groupby('Этап строительства')

In [ ]:
groups = dataset.groupby('Этап строительства')
groups_mean_price = groups['Очищенная цена'].mean()

In [ ]:
groups_mean_price

Этап строительства
В проекте          2021.0
Возведение стен    2021.0
Заморожено         2018.0
Котлован           1977.0
Отделка            2020.0
Площадка           2021.0
Сдан               2021.0
Name: Год постройки, dtype: float64

In [ ]:
groups_mean_price = groups_mean_price.astype(int)
groups_mean_price

Тип здания
Блочное                 3450000
Кирпичное               2000000
Монолитно-кирпичное     1750000
Монолитно-кирпичный     6400000
Монолитное               612000
Монолитный              4385000
Панельно-кирпичное      6950000
Панельное               1800000
Панельный              11700000
Сталинское              9150000
Name: Очищенная цена, dtype: int64

### Кейс 2. Необходимо рассчитать среднюю цену квартир в зависимости от стадии строительства и класса жилья.

In [ ]:
dataset.groupby(['Этап строительства', 'Класс жилья'])

In [ ]:
groups_mean_price = dataset.groupby(['Этап строительства', 'Класс жилья'])['Очищенная цена'].mean()
groups_mean_price = groups_mean_price.astype(int)
groups_mean_price

Этап строительства  Тип здания
В проекте           Кирпичное              10050000
                    Монолитное              5656425
Возведение стен     Блочное                 6050000
                    Кирпичное              11828050
                    Монолитно-кирпичное    15585614
                    Монолитное              8632154
                    Панельное               6883870
Заморожено          Кирпичное               8750000
                    Монолитное              9600000
                    Панельное               7999000
Котлован            Блочное                 6700000
                    Монолитное              8737015
                    Панельное               6651120
Отделка             Блочное                 9050000
                    Кирпичное               8571250
                    Монолитно-кирпичное     6002112
                    Монолитно-кирпичный    22297600
                    Монолитное             13168400
                    Монолитный              5108000
                    Панельное               7250000
Площадка            Блочное                10650000
                    Монолитное             10405200
                    Панельное               5248880
Сдан                Блочное                 7500000
                    Кирпичное               8700000
                    Монолитно-кирпичное    28639317
                    Монолитно-кирпичный    28500000
                    Монолитное             10360000
                    Монолитный             13826930
                    Панельное               7200000
                    Панельный              13950000
Name: Очищенная цена, dtype: int64

In [ ]:
groups_mean_price = dataset.groupby(['Этап строительства', 'Класс жилья'], as_index=False)['Очищенная цена'].mean()
groups_mean_price

   Этап строительства    Класс жилья  Очищенная цена
0           В проекте   Бизнес класс    1.785475e+07
1           В проекте  Комфорт класс    5.876690e+06
2           В проекте     Элит класс    7.300000e+06
3     Возведение стен   Бизнес класс    1.483284e+07
4     Возведение стен  Комфорт класс    5.993096e+06
5     Возведение стен   Эконом класс    6.564340e+06
6     Возведение стен     Элит класс    3.039045e+07
7          Заморожено   Бизнес класс    8.750000e+06
8          Заморожено   Эконом класс    8.799500e+06
9            Котлован   Бизнес класс    6.100000e+06
10           Котлован  Комфорт класс    8.611092e+06
11           Котлован   Эконом класс    7.300000e+06
12            Отделка   Бизнес класс    1.480065e+07
13            Отделка  Комфорт класс    6.862173e+06
14            Отделка     Элит класс    3.138341e+07
15           Площадка   Бизнес класс    1.103328e+07
16           Площадка  Комфорт класс    1.008311e+07
17               Сдан   Бизнес класс    1.556170e+07
18               Сдан  Комфорт класс    7.677025e+06
19               Сдан   Эконом класс    8.259169e+06
20               Сдан     Элит класс    6.165063e+07

In [ ]:
groups_mean_price['Очищенная цена'] = groups_mean_price['Очищенная цена'].astype(int)
groups_mean_price

   Этап строительства    Класс жилья  Очищенная цена
0           В проекте   Бизнес класс        17854750
1           В проекте  Комфорт класс         5876689
2           В проекте     Элит класс         7300000
3     Возведение стен   Бизнес класс        14832840
4     Возведение стен  Комфорт класс         5993095
5     Возведение стен   Эконом класс         6564340
6     Возведение стен     Элит класс        30390451
7          Заморожено   Бизнес класс         8750000
8          Заморожено   Эконом класс         8799500
9            Котлован   Бизнес класс         6100000
10           Котлован  Комфорт класс         8611092
11           Котлован   Эконом класс         7300000
12            Отделка   Бизнес класс        14800645
13            Отделка  Комфорт класс         6862173
14            Отделка     Элит класс        31383414
15           Площадка   Бизнес класс        11033281
16           Площадка  Комфорт класс        10083113
17               Сдан   Бизнес класс        15561696
18               Сдан  Комфорт класс         7677024
19               Сдан   Эконом класс         8259168
20               Сдан     Элит класс        61650630

### Шаблоны группировки по значениям колонок

In [ ]:
# Шаблон взятия среднего значения цены квартир сгруппированных по значениям Этапа строительства
groups_mean_price = dataset.groupby('Этап строительства')['Очищенная цена'].mean()

In [ ]:
# Шаблон взятия среднего значения цены квартир сгруппированных по значениям колонок Этапа строительства и Класса жилья
groups_mean_price = dataset.groupby(['Этап строительства', 'Класс жилья'], as_index=False)['Очищенная цена'].mean()
groups_mean_price['Очищенная цена'] = groups_mean_price['Очищенная цена'].astype(int)